

/********************************/
/********    CHAT TAB    ********/
/********************************/


#message-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

#message-area::-webkit-scrollbar {
    width: 6px;
}

#message-area::-webkit-scrollbar-track {
    background: var(--msger-scrollbar-track);
}

#message-area::-webkit-scrollbar-thumb {
    background: var(--msger-scrollbar-thumb);
}

.user-msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.user-msg:last-of-type {
    margin: 0;
}

.msg-bubble {
    max-width: 100%;
    min-width: 0;
    overflow-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    color: var(--right-msg-fg);
    word-break: break-word;
}

.msg-bubble img {
    cursor: pointer;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-user-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-user-msg {
    flex-direction: row-reverse;
}

.right-user-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: var(--right-msg-fg);
    border-bottom-right-radius: 0;
}

.msg-bubble.sending {
    background: var(--input-bar-bg);
    opacity: 0.5;
}

.right-user-msg .msg-img {
    margin: 0 0 0 10px;
}

.msg-bubble:hover {
    filter: brightness(1.2);
}


/********************************/
/******** INPUT BAR ********/
/********************************/

#input-area button {
    color: var(--msger-header-colour);
}

#input-area button:hover {
    color: var(--msger-header-colour-hover);
}

#input-area {
    display: flex;
    flex: 0 0 auto;
    padding: 0px;
    margin: 20px;
    /* border-top: var(--border); */
    background: var(--inputbar-area);
    border-radius: 10px;
}

#input-area * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

#left-input-toolbar {
    padding: 0px;
    margin: 0px;
    align-items: center;
}

#right-input-toolbar {
    padding: 0px;
    align-items: center;
}

#input-bar {
    flex: 1 0 auto;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    resize: none;
    background: var(--input-bar-bg);
    outline: none;
    color: var(--input-bar-fg);
    align-items: center;
    vertical-align: center;
    display: -webkit-flex;
}

#input-bar::-webkit-scrollbar-track {
    background: transparent;
}

::placeholder {
    color: var(--msger-input-placeholder-fg);
    display: flex;
    align-items: center;
}

#send-message-button {
    margin-left: 10px;
    background: var(--msger-send-button-bg);
    color: var(--msger-send-button-fg);
    max-width: min-content;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
    overflow: hidden;
}

#send-message-button.disabled {
    background: var(--msger-send-button-disabled-bg);
}

#send-message-button-with-icon {
    display: none;
    font-size: 30px;
    padding: 0px;
    background-color: transparent;
    color: var(--msger-send-button-fg);
}

#send-message-button-with-icon:hover {
    color: var(--msger-send-button-hover-fg);
}

#send-message-button-with-icon.disabled {
    color: var(--msger-send-button-disabled-fg);
}

#attachment-input {
    display: none;
}

#attachment-button {
    margin: 0px;
    padding: 0px;
    /* background: var(--inputbar-area); */
    color: var(--msger-header-colour);
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    /* display: flex; */
    align-items: center;
}

#attachment-button:hover {
    /* background: var(--input-bar-bg); */
    color: var(--msger-header-colour-hover);
    border-radius: 10%;
}

/********************************/
/******** SYSTEM MESSAGES ********/
/********************************/

.system-message {
    font-size: 12px;
    margin: 10px;
}

.system-message i {
    font-size: 14px;
    margin-right: 10px;
}


/********************************/
/******** MOBILE ********/
/********************************/

@media (max-width: 600px) {
    #send-message-button {
        display: none;
    }

    #send-message-button-with-icon {
        display: flex;
    }
}
