
#tab-graph .tab-header-title {
    text-align: center;
}

#tab-graph {
    margin: 20px;
}

#fft-result-graph, #input-waveform-graph {
    display: block;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* max-height: 60vh;
    max-width: 60vw; */
}

#input-waveform-graph {
    /* flex: 1 1 auto; */
    overflow: hidden;
}

#fft-result-graph {
    flex: 0;
    overflow: hidden;
}

#waveform-graph {
    display: flex;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

#fft-graph {
    display: block;
}
